[logging]
# Airflow can store logs remotely in AWS S3. Users must supply a remote
# location URL (starting with either 's3://...') and an Airflow connection
# id that provides access to the storage location.
remote_logging = True
remote_base_log_folder = s3://peerkat-airflow-logs/airflow-logs
remote_log_conn_id = s3_conn
logging_level = ERROR
delete_local_logs = True
# Use server-side encryption for logs stored in S3
encrypt_s3_logs = False